<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Homepage</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet"/>
</head>
<body style="background-color: ghostwhite;font-family: cursive">
<div class="sidebar">
    <img src="https://i.pinimg.com/originals/0e/c8/c2/0ec8c2e87276d6e306a50b6843eaf2b0.jpg"
         alt="logo" width="200" height="120">
    <a th:href="@{/admin/dashboard}">Home</a>
    <a th:href="@{/admin/all_students}">All Students</a>
    <a class="active" th:href="@{/admin/all_tutors}">All Tutors</a>
    <a th:href="@{/logout}" style="color: red">Logout</a>
</div>
<div class="content">
    <div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite;">
        <div class="container">
            <h1 style="text-align: center; font-family: fantasy;" class="login">List Of All Students</h1>
            <hr>
            <table border="2" class="table table-bordered table-responsive-md">
                <thead>
                <tr>
                    <th>Tutor Id</th>
                    <th>Tutor Name</th>
                    <th>Tutor Username</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tutor : ${tutorsList}">
                    <td th:text="${tutor.tutorId}"></td>
                    <td th:text="${tutor.tutorName}"></td>
                    <td th:text="${tutor.username}"></td>
                </tr>
                <tr>
                    <td th:if="${tutorsList.isEmpty()}">
                        There is no tutor in the database yet
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>