<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Classes</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{/css/sidebar.css}" rel="stylesheet"/>
</head>
<body style="background-color: ghostwhite;font-family: cursive">
<div class="sidebar">
    <img src="https://i.pinimg.com/originals/0e/c8/c2/0ec8c2e87276d6e306a50b6843eaf2b0.jpg"
         alt="logo" width="200" height="120">
    <a th:href="@{/student/{studentId}(studentId=${studentId})}">Home</a>
    <a th:href="@{/student/{studentId}(studentId=${studentId})}">Booked Classes</a>
    <a class="active" th:href="@{/student/view-all-classes/{studentId}(studentId=${studentId})}">All Classes</a>
    <a th:href="@{/logout}" style="color: red">Logout</a>
</div>
<div class="content">
    <div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
        <div class="container">
            <h1 style="text-align: center; font-family: fantasy;" class="login">All Available Classes</h1>
            <hr>
            <table border="2" class="table table-bordered table-responsive-md">
                <thead>
                <tr>
                    <th>Class Id</th>
                    <th>Class Name</th>
                    <th>Class Time</th>
                    <th>Week Per Days</th>
                    <th>Tutor Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="class : ${classesList}">
                    <td th:text="${class.classId}"></td>
                    <td th:text="${class.className}"></td>
                    <td th:text="${class.classTime}"></td>
                    <td th:text="${class.daysPerWeek}"></td>
                    <td th:text="${class.tutorName}"></td>
                    <td>
                        <a th:href="@{/student/book/class/{studentId}/{classId}(studentId=${studentId},classId=${class.classId})}"
                           class="btn btn-info">Book Class</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>